spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jornal?useTimezone=true&serverTimezone=UTC&useLegacyDate
    username: postgres
    password: postgres
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
server:
  error:
    include-exception: false
    include-message: always
    include-stacktrace: never